---
// src/pages/tailwind-test.astro
import Layout from '../components/common/Layout.astro';
---
<Layout title="Tailwind Test">
  <div class="bg-red-600 text-white p-12 text-center text-3xl">
    TAILWIND IS WORKING
  </div>
</Layout>
